{% extends "frontend/base_index.html" %}
{% load static %}
{% block content %}
{% load has_perm %}
<div id="wrapper" class="wrapper home-wrapper">
    <header>
        <div class="header-div clearfix">
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">
                                <div class="logo-div">
                                    <a class="logo_link" href="{% url 'app:project-list' %}">
                                        <img src="{% static 'frontend/images/logo.svg' %}"
                                            class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>
                                <nav class="nav-center-div">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav"
                                                data-placement="bottom" title="" data-original-title="Menu">
                                                <i class="menu-bars"><img src="{% static 'frontend/images/icons/menu-white.svg' %}"
                                                        alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav">
                                            <a href="javascript:void(0)" class="closebtn"
                                                onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res">
                                                <li><a href="{% url 'app:project-list' %}" class="nav-link">All
                                                        projects</a></li>
                                                        <li><a href="{% url 'app:admin-user-list' %}" class="nav-link">Admin
                                                                Users</a></li>
                                                <li><a href="{% url 'app:password-change' pk=request.user.pk %}" class="nav-link">Change Password</a></li>
                                                <li class="active"><a href="{% url 'app:activityuser-list' %}"
                                                        class="nav-link">User listing</a></li>
                                                <li><a href="{% url 'app:logout' %}" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  End of header with navigation div  -->
    </header>
    <div class="main-middle-area">


        <div align="center">
            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <b>{{msg.message}}</b>
            </div>
            {% endfor %}
            {% endif %}

        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="title-div">
                            <h1>User listing</h1>
                        </div>
                        <div id="msg"></div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="connection-right">
                            <div class="search-div search-hover-div mr-10">
                                <div class="search-box">
                                    <input type="text" placeholder="Search..." class="form-control form-search"
                                        id="search" />
                                    <button class="btn btn-default btn-search" id="search-box-form">
                                        <i class="fe fe-search icon-search"></i>
                                        <i class="fe fe-x icon-search-cancel"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="button-div">
                                <button class="btn btn-primary btn-primary2" data-toggle="modal"
                                    data-target="#add-new-user-modal">+ Add new User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-table-root user-listing-table-root">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="data-table-root">
                            <div class="table-responsive">
                                <table id="user-listing-table" class="table table-custom-list no-footer listing-table">
                                    <thead>
                                        <tr>
                                            <th class="width-20">User name</th>
                                            <th class="width-40">Mobile Number</th>
                                            <th class="width-40 text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for actvity_user in instance %}
                                        <tr>
                                            <td>
                                                <h3 class="font-size-18">{{ actvity_user.name }} </h3>
                                            </td>
                                            <td>
                                                <p class="text-black">{{ actvity_user.mobile }}</p>
                                            </td>
                                            <td>
                                                <div class="action-btn-row">
                                                    <button class="btn btn-action btn-edit mr-6"> <i
                                                            class="fe fe-edit custom-icon editProjectButton"
                                                            data-id={{ actvity_user.id }}></i> </button>
                                               
                                                    <button class="btn btn-action btn-delete"> <i
                                                            class="fe fe-trash-2 custom-icon"
                                                            id="delete_item_confirmations"
                                                            data-id="{{ actvity_user.id }}"></i> </button>
                                                       
                                                </div>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end of wrapper -->
<!-- The Modal -->
<div class="modal modal-custom fade" id="add-new-user-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New User</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
            </div>
            <form method="post" action="{% url 'app:activityuser-create' %}" id="AddUserActvity">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-div form-custom-root">
                        <div class="form-group form-group-custom">
                            <label for="">User name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Activity</label>
                            {{ form.activity }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Mobile number</label>
                            <div class="max-input-div">
                                <div class="selectbox-inline">
                                    <div class="select-box select-custom2">
                                        <select class="js-select2 " name="country_code">
                                            <option>+91</option>
                                            <option>+09</option>
                                            <option>+10</option>
                                        </select>
                                    </div>
                                </div>
                                {{ form.mobile }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-outline btn-cancel min-width-110 mr-10"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-add min-width-130">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- eDIT -->
<div class="modal modal-custom fade" id="edit-new-ACTIVITYUSER-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit New User</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
            </div>
            <form method="post" action="{% url 'app:activityuser-list' %}" id="UserActivityEditForm">
                {% csrf_token %}
                <input type="hidden" id="get_active_user_id" name="get_active_user_id" />
                <div id="msg"></div>
                <div class="modal-body" id="EditModalBody">
                    <div class="form-div form-custom-root">
                        <div class="form-group form-group-custom">
                            <label for="">User name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Activity</label>
                            {{ form.activity }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Mobile number</label>
                            <div class="max-input-div">
                                <div class="selectbox-inline">
                                    <div class="select-box select-custom2">
                                        <select class="js-select2 ">
                                            <option>+91</option>
                                            <option>+09</option>
                                            <option>+10</option>
                                        </select>
                                    </div>
                                </div>
                                {{ form.mobile }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-outline btn-cancel min-width-110 mr-10"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-add min-width-130">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="success_modal_pucrchase" role="dialog" style="display: none;">
    <div class="modal-dialog" style="margin-top: 260.5px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body modal-custom">
                <div class="container store-select">
                    <label>
                        <h3>Do you really want to delete this item ?</h2>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="delete_item" style="margin-right: 400px;" width="50px;">Yes</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script>
    // Edit
    $(document).ready(function () {
        $(document).on("click", ".editProjectButton", function () {
            let get_id = $(this).attr('data-id');
            $("#get_active_user_id").val(get_id);
            $.ajax({
                url: "{% url 'app:activityuser-list' %}",
                data: {
                    get_id: get_id,
                },
                method: 'GET',
                success: function (data) {
                    $('#EditModalBody').empty();
                    $('#EditModalBody').append(data);
                    $('#edit-new-ACTIVITYUSER-modal').modal('show');
                },
                error: function (err) {
                    console.log(err)
                }
            });
        });
    });
    // submit
    $('#UserActivityEditForm').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'updated') {
                    
                    setTimeout(function () {
                        $('#edit-new-ACTIVITYUSER-modal').modal('hide');
                    }, 200);
                    setTimeout(function () {
                        location.reload();
                    }, 10);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });
    // Delete
    $(document).on("click", "#delete_item_confirmations", function (event) {
        let get_id = $(this).attr('data-id');
        $('#success_modal_pucrchase').modal('show');
        $('#delete_item').on('click', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'app:activityuser-delete' %}",
                data: {
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    "get_id": get_id,
                },
                success: function (response) {

                        setTimeout(function () {
                            $('#success_modal_pucrchase').modal('hide');
                        }, 200);

                        
                        setTimeout(function () {
                            location.reload();
                        }, 5);
                   
                },
            });
        })
    });
    $("#search").keyup(function () {
        var value = this.value.toLowerCase().trim();
        $("table tr").each(function (index) {
            if (!index) return;
            $(this).find("td").each(function () {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });
    $('#AddUserActvity').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'Created') {
        
                    setTimeout(function () {
                        location.reload();
                    }, 5);
                    setTimeout(function () {
                        $('#add-new-user-modal').modal('hide');
                    }, 200);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(4000, 0).slideUp(200, function () {
                $(this).remove();
            });
        });
    }, 5000);
</script>
{% endblock %}