{% extends 'emails/html/layout.html' %}
{% load static %}

{% block content %}
Hello <strong>{{ name }}</strong><br>
You got the inviattion from the {{ user }}.To check sign up with the below link.<br>
<a href="{{redirect_url}}"><button class="btn btn-success">Accept</button></a>
{% endblock %}
