{% extends "frontend/base_index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div id="wrapper" class="wrapper home-wrapper">
    <header>
        <div class="header-div clearfix">
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">
                                <div class="logo-div">
                                    <a class="logo_link" href="{% url 'app:project-list' %}">
                                        <img src="{% static 'frontend/images/logo.svg' %}"
                                            class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>
                                <nav class="nav-center-div">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav"
                                                data-placement="bottom" title="" data-original-title="Menu">
                                                <i class="menu-bars"><img
                                                        src="{% static 'frontend/images/icons/menu-white.svg' %}"
                                                        alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav">
                                            <a href="javascript:void(0)" class="closebtn"
                                                onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res">
                                                <li><a href="{% url 'app:project-list' %}" class="nav-link">All
                                                        projects</a></li>
                                                
                                                        {% if request.user.is_superuser %}

                                                
                                                        <li><a href="{% url 'app:admin-user-list' %}" class="nav-link">Admin
                                                        Users</a></li>
                                                        {% endif %}

                                                
                                                        <li><a href="{% url 'app:admin-user-list' %}" class="nav-link">Change
                                                        Password</a></li>


                                                        {% if request.user.is_superuser %}

                                                <li><a href="{% url 'app:activityuser-list' %}" class="nav-link">User
                                                        listing</a></li>

                                                        {% endif %}
                                                
                                                
                                                
                                                        <li><a href="{% url 'app:logout' %}" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  End of header with navigation div  -->
    </header>
    <div class="main-middle-area">
        <div class="page-back-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="title-div back-div">
                            <div class="back-link-div"><a onclick="goBack()" class="link-back"> <span
                                        class="material-icons"> arrow_back </span> Back</a></div>
                            <h2>Change Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="password-form" method="POST" action="{% url 'app:change-admin-password' pk=request.user.pk %}" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="white-card-main-div">
                <div class="container">
                    <div class="white-card-root">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-div">
                                    <div class="row mlr-15">
                                        <div class="col-lg-6 col-md-12 plr-15">
                                            <input type="hidden" value="{{ project_obj }}" name="project_id">
                                            <div class="form-group">
                                                <label for="">Old Password</label>
                                                <input type="password" name="password" autofocus class="form-control" id="old_password">
                                                <span id="error" style="color: red; font-weight: bold;"></span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mlr-15">
                                        <div class="col-lg-6 col-md-12 plr-15">
                                            <input type="hidden" value="{{ project_obj }}" name="project_id">
                                            <div class="form-group">
                                                <label for="">Password</label>
                                            <input type="password" name="password1" autofocus class="form-control" id="old_password">
                                            <span id="error" style="color: red; font-weight: bold;">{{message}}</span>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    <div class="row mlr-15">
                                        <div class="col-lg-6 col-md-12 plr-15">
                                            <div class="form-group">
                                                <label for="">Retype Password</label>
                                                <input type="password" name="password2" autofocus class="form-control" id="old_password">
                                                
                                            </div> 
                                        </div>
                                     </div>
                                     </div>
                               </div>
                            </div>
                        </div>
                                      
                    <div class="white-card-root-footer">
                        <div class="row mlr-15">
                            <div class="col-lg-12 col-md-12 plr-15">
                                <div class="footer-submit-button-group">
                                    <div class="footer-row">
                                        <button type="button"
                                            class="btn btn-primary-outline btn-cancel min-width-110 mr-10"
                                            data-dismiss="modal" onclick="goBack()">Cancel</button>
                                        <button type="submit" class="btn btn-primary btn-add min-width-130" id="submit">Change</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div><!-- end of wrapper -->
</form>
<!-- The Modal -->


<!-- user activity -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('document').ready(function (event) {
        var validation_fails = true;
        $('#old_password').on('blur', function () {
            var password = $('#old_password').val();

            $.ajax({
                url: "{% url 'app:password_check' pk=request.user.pk %}",
                type: 'post',
                data: {
                    'password': password,
                },
                success: function (response) {
                    if (response == 'wrong') {
                        console.log("hello")
                        if (password === '') {
                            $('#error').text('Please Enter Your Old Password !');
                            $('#submit').attr('disabled', true);
                        }
                        else {
                            $('#error').text('Sorry... Old Password Did Not Match !');
                            $('#submit').attr('disabled', true);
                        }
                    }
                    else if (response == 'correct') {
                        $('#error').text('');
                        $('#submit').attr('disabled', false);

                    }
                }
            });
            print(validation());

            if (validation_fails) {
                console.log("sad");

            }
            else if (validation === false) {
                console.log("happy");
                $('#submit').attr('enabled', true);
            }
        });
        $('#error').text('');
    });


</script>
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script>

    $('#add_more').click(function () {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $(document).on("click", "#switch1", function (event) {
        get_val = $('#switch1').prop('checked');
        if (get_val === true) {
            $("#remove_public").removeClass("d-none");
            $("#get_status").val('privte');
        }
        else {
            $("#remove_public").addClass("d-none");
            $("#get_status").val('public');
        }
    })

    // User edit & delete password-form
    $(document).ready(function () {
        $(document).on("click", ".editProjectButton", function () {
            let get_id = $(this).attr('data-id');
            $("#get_active_user_id").val(get_id);
            $.ajax({
                url: "{% url 'app:activityuser-list' %}",
                data: {
                    get_id: get_id,
                },
                method: 'GET',
                success: function (data) {
                    $('#EditModalBody').empty();
                    $('#EditModalBody').append(data);
                    $('#edit-new-ACTIVITYUSER-modal').modal('show');
                },
                error: function (err) {
                    console.log(err)
                }
            });
        });
    });

    // submit
    $('#UserActivityEditForm').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'updated') {
                    $('#msg').append(
                        '<div class="alert alert-success">'
                        + '<strong>Project Updated!</strong>'
                        + '</div>'
                    );
                    setTimeout(function () {
                        location.reload();
                    }, 20);
                    setTimeout(function () {
                        $('#edit-new-project-modal').modal('hide');
                    }, 5000);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });

    // Delete
    $(document).on("click", "#delete_item_confirmations", function (event) {
        let get_id = $(this).attr('data-id');
        $('#success_modal_pucrchase').modal('show');
        $('#delete_item').on('click', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'app:activityuser-delete' %}",
                data: {
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    "get_id": get_id,
                },
                success: function (response) {
                    if (response['status'] === 'updated') {
                        $('#msg').append(
                            '<div class="alert alert-success">'
                            + '<strong>Activity user Updated!</strong>'
                            + '</div>'
                        );
                        setTimeout(function () {
                            location.reload();
                        }, 20);
                        setTimeout(function () {
                            $('#success_modal_pucrchasel').modal('hide');
                        }, 2000);
                    }
                },
            });
        })
    });

    $('#AddUserActvity').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'Created') {
                    $('#msg').append(
                        '<div class="alert alert-success">'
                        + '<strong>User created!</strong>'
                        + '</div>'
                    );
                    setTimeout(function () {
                        $('#add-new-user-modal').modal('hide');
                    }, 3000);
                    setTimeout(function () {
                        location.reload();
                    }, 200);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(4000, 0).slideUp(200, function () {
                $(this).remove();
            });
        });
    }, 5000);
</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>


<script>

    $(document).ready(function () {

        Filevalidation = () => {
            const fi = document.getElementById('get_upload_file');
            // Check if any file is selected. 
            if (fi.files.length > 0) {
                for (const i = 0; i <= fi.files.length - 1; i++) {

                    const fsize = fi.files.item(i).size;
                    const file = Math.round((fsize / 1024));
                    // The size of the file. 
                    if (file >= 100000) {
                        alert(
                            "File too Big, please select a file less than 100mb");
                        location.reload();

                    }

                }
            }
        }

    });


</script>

{% endblock %}