{% extends "frontend/base_index.html" %}
{% load static %}
{% block content %}
{% load has_perm %}
<div id="wrapper" class="wrapper home-wrapper">
    <header>
        <div class="header-div clearfix" >
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">
                                <div class="logo-div">
                                    <a class="logo_link" href="{% url 'app:project-list' %}">
                                        <img src="{% static 'frontend/images/logo.svg' %}" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>
                                <nav class="nav-center-div">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="{% static 'frontend/images/icons/menu-white.svg' %}" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res" >
                                                <li><a href="{% url 'app:project-list' %}" class="nav-link">All projects</a></li>
                                                
                                                
                                                {% if request.user.is_superuser %}

                                                <li><a href="{% url 'app:admin-user-list' %}" class="nav-link">Admin Users</a></li>
                                                
                                                {% endif %}

                                                <li><a href="{% url 'app:password-change' pk=request.user.pk %}" class="nav-link">Change Password</a></li>
                                                {% if request.user.is_superuser %}

                                                
                                                <li><a href="{% url 'app:activityuser-list' %}" class="nav-link">User listing</a></li>
                                                {% endif %}

                                                
                                                
                                                <li><a href="{% url 'app:logout' %}" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div><!--  End of header with navigation div  -->
    </header>
    <div class="main-middle-area">
        <div class="page-back-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="title-div back-div">
                            <div class="back-link-div"><a href="{% url 'app:project-list' %}" class="link-back"> <span class="material-icons"> arrow_back </span> Back</a></div> <h2>All Activity</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white-card-top">
            <div class="container">
                <div class="white-card-top-root">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-div form-custom-root">
                                <div align="center">
                                    {% if messages %}
                                    {% for msg in messages %}
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <b>{{msg.message}}</b>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                            </div>
                                <div id="msg"></div>
                    <form method="post" action="{% url 'app:project-list' %}" id="ProjectEditForm">          
                        {% csrf_token %}
                     <input type="hidden" id="get_project_id" name="get_project_id"  value="{{project_id }}"/>
                                <div class="row mlr-10">
                                    <div class="col-lg-9 col-md-8 plr-10">
                                        <div class="form-group form-group-custom">
                                            <label for="">Project name</label>
                                            {{ project_form.title }}
                                        </div>
                                    </div>
                                    <div style="display: none;">
                                        {{ project_form.status }}
                                    </div>
                                   
                                    <div class="col-lg-3 col-md-4 plr-10">
                                        <div class="btn-group">
                                            {% if user|has_perm:'Can change Project' %}
                                            <button class="btn btn-primary btn-block">Update</button>
                                            {% else %}
                                            <button class="btn btn-primary btn-block" disabled>Update</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="title-div">
                            <h1>All activity</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="connection-right">
                            <div class="search-div search-hover-div mr-10">
                                <div class="search-box">
                                    <input type="text" placeholder="Search..." class="form-control form-search" id="search" />
                                    <button class="btn btn-default btn-search" id="search-box-form">
                                        <i class="fe fe-search icon-search"></i>
                                        <i class="fe fe-x icon-search-cancel"></i>
                                    </button>
                                </div>
                            </div>
                            {% if user|has_perm:'Can add Activity' %}
                            <div class="button-div">
                                <a href="{% url 'app:activity-create'  %}?id={{project_id }}"><button class="btn btn-primary btn-primary2" data-id="{{ project_id }}" id="click_on_new_activity">+ Add new activity</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-table-root all-activity-table-root">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="data-table-root">
                            <div class="table-responsive">
                                <table id="all-activity-table" class="table table-custom-list no-footer listing-table">
                                    <thead>
                                        <tr>
                                            <th class="width-15 sorting-none">Activity name</th>
                                            <th class="width-15 sorting-none">Tag name</th>
                                            <th class="width-15">Status</th>
                                            <th class="width-20 text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in instance %}
                                        <tr>
                                            <td><h3>{{ obj.title }}</h3></td>
                                            <td><h3>{{ obj.tag_name }}</h3></td>
                                            {% if obj.status == 'privte' %}
                                            <td><h4 class="status active-status">PRIVATE</h4></td>
                                            {% else %}
                                            <td><h4 class="status inactive-status" style="color: brown;">Public</h4></td>
                                            {% endif %}
                                            <td>
                                                <div class="action-btn-row">
                                                    <button class="btn btn-action btn-qr-code mr-6"> <span class="material-icons custom-icon"> qr_code  </span> <span class="text-span"> <a href="{{obj.qr_code.url}}"  download>Download QR code</a></span> </button>
                                                    {% if user|has_perm:'Can change Activity' or request.user.is_superuser %}
                                                    <a href="{% url 'app:activity-edit' pk=obj.id %}">  <button class="btn btn-action btn-edit mr-6"> <i class="fe fe-edit custom-icon"></i> </button></a>
                                                    {% endif %}
                                                    {% if user|has_perm:'Can delete Activity' or request.user.is_superuser %}
                                                    <button class="btn btn-action btn-delete"> <i class="fe fe-trash-2 custom-icon" id="delete_item_confirmations" data-id="{{ obj.id }}"></i> </button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end of wrapper -->
<!-- The Modal -->
<div class="modal modal-custom fade" id="add-new-project-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New Project</h4>
          <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
        </div>
        <div class="modal-body">
            <div class="form-div form-custom-root">
                <div class="form-group form-group-custom">
                    <label for="">Project name</label>
                    <input type="text" class="form-control" placeholder="Enter project name" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary-outline btn-cancel min-width-110 mr-10" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary btn-save min-width-130">Save</button>
        </div>
      </div>
    </div>
  </div>
<!-- delete -->
<div class="modal fade" id="success_modal_pucrchase" role="dialog" style="display: none;">
    <div class="modal-dialog" style="margin-top: 260.5px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body modal-custom">
                <div class="container store-select">
                    <label>
                        <h3>Do you really want to delete this item ?</h2>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="delete_item" style="margin-right: 400px;" width="50px;">Yes</button>
            </div>
        </div>
    </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
      window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
<script>
 $(document).on("click", "#delete_item_confirmations", function (event) {
        let get_id = $(this).attr('data-id');
        console.log(get_id);
        $('#success_modal_pucrchase').modal('show');
        $('#delete_item').on('click', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'app:activity-delete' %}",
                data: {
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    "get_id": get_id,
                },
                success: function (response) {
                    if (response['status'] === 'Deleted') {

                        setTimeout(function () {
                            location.reload();
                        }, 20);
                        setTimeout(function () {
                            $('#success_modal_pucrchasel').modal('hide');
                        }, 2000);
                    }
                },
            });
        })
    });
    // Search
    $("#search").keyup(function () {
        var value = this.value.toLowerCase().trim();
        $("table tr").each(function (index) {
            if (!index) return;
            $(this).find("td").each(function () {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });
     // submit
     $('#ProjectEditForm').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'updated') {
                    $('#msg').append(
                        '<div class="alert alert-success">'
                        + '<strong>Project Updated!</strong>'
                        + '</div>'
                    );
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                    setTimeout(function () {
                        $('#edit-new-project-modal').modal('hide');
                    }, 5000);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(4000, 0).slideUp(200, function () {
                $(this).remove();
            });
        });
    }, 5000);
</script>
{% endblock %}  