{% load static %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin:0 auto;">

<head>
    <meta name="description" content="Layout 1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <title>Open Mic</title>
    <style>
        /* latin-ext */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Work Sans'), local('WorkSans-Regular'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Regular.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Work Sans'), local('WorkSans-Regular'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Regular2.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Work Sans Medium'), local('WorkSans-Medium'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Medium.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Work Sans Medium'), local('WorkSans-Medium'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Medium2.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Semibold.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Semibold2.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Work Sans Bold'), local('WorkSans-Bold'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Bold.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Work Sans Bold'), local('WorkSans-Bold'), url(http://13.127.108.199/dev/HTML/bixex-html/Email-template/fonts/WorkSans-Bold2.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        .ReadMsgBody {
            width: 100%;
            margin: 0 auto 0 auto;
        }

        body {
            width: 100%;
            margin: 0 auto 0 auto;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: 'Work Sans', Arial, sans-serif;
            -webkit-text-size-adjust: 100%;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            table-layout: fixed;
        }

        table table {
            table-layout: auto;
        }

        table {
            font-family: 'Work Sans', Arial, sans-serif;
        }

        td,
        tr,
        table {
            border-spacing: 0px !important;
        }

        .grid_block {
            min-width: 480px;
        }

        .head-col1 {
            min-width: 120px;
        }

        .head-col2 {
            min-width: 120px;
        }

        .head-col3 {
            min-width: 240px;
        }

        td[class=spacer x_spacer] {
            width: 30px;
        }

        .x_spacer {
            width: 30px;
        }

        @media only screen and (max-width: 640px) {

            .table600full {
                width: 100% !important;
            }

            .wrapper {
                width: 100% !important;
            }

            .img-fluid {
                max-width: 100% !important;
                width: 100% !important;
                margin: 0 auto 0 auto !important;
                height: auto !important;
            }

            table[class=table600con] .img-fluid {
                max-width: 100% !important;
                width: 100% !important;
                margin: 0 auto 0 auto !important;
                height: auto !important;
            }

            .grid_block {
                min-width: 100% !important;
            }

            .head-col1 {
                min-width: 100% !important;
            }

            .head-col2 {
                min-width: 100% !important;
            }

            .head-col3 {
                min-width: 100% !important;
            }

            div[class=wrapper] {
                width: 100% !important;
            }

            div[class=wrapperout],
            td[class=grid_block] table {
                width: 100% !important;
            }

            table[class=table600none] {
                height: 0 !important;
                width: 0 !important;
                display: none !important;
            }

            table[class=table600full] {
                width: 100% !important;
            }

            table[class=table600con],
            table[class=table600] {
                width: 100% !important;
            }

            td[class=fw_full],
            td[class=fw_half],
            td[class=grid_block] {
                width: 100% !important;
                display: block !important;
                text-align: center !important;
            }

            td[class=spacer] {
                width: 20px !important;
            }

            .x_spacer {
                width: 20px !important;
            }

            table[class=line] {
                height: 0 !important;
                width: 0 !important;
                display: none !important;
            }

            td[class=grid_block] {
                width: 100% !important;
                text-align: center !important;
                padding: 0 !important;
            }

            td[class=grid_block_nopad] {
                width: 100% !important;
                padding: 0 !important;
                display: block !important;
                text-align: center !important;
            }

            td[class=grid_block] table {
                margin: auto !important;
            }
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        span.yshortcuts {
            color: #000;
            background-color: none;
            border: none;
        }

        span.yshortcuts:hover,
        span.yshortcuts:active,
        span.yshortcuts:focus {
            color: #000;
            background-color: none;
            border: none;
        }

        body[class=body] {
            min-width: 0 !important;
        }

        .valign-top {
            vertical-align: top !important;
        }

        .valign-bottom {
            vertical-align: bottom !important;
        }

        .valign-middle {
            vertical-align: middle !important;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }
    </style>

</head>
{% load static %}

<body class="body"
    style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;padding: 0;font-size: 12px; mso-line-height-rule: exactly; line-height: 1.5em; width: 100%;background-color: #eeeeee;font-family: 'Work Sans', Arial, sans-serif;"
    width="100%">

    <table
        style="padding: 0;border-collapse: collapse;margin:0 auto;width: 600px; font-family: 'Work Sans', Arial, sans-serif;"
        class="bg" width="600px" cellspacing="0" cellpadding="0" border="0" bgcolor="#eeeeee" align="center">
        <tbody>
            <tr>
                <td style="border-collapse: collapse;margin: 0 auto;" width="100%" align="center" class="valign-top"
                    valign="top">

                    <!--  header logo  -->
                    <table style="padding: 0;margin: 0 auto 0 auto;border-collapse: collapse;" class="table600full"
                        width="600px" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td class="full_width" style="background: #ffffff; border-collapse: collapse; "
                                    width="100%">
                                    <div class="wrapper" style='width: 600px;margin:0 auto 0 auto;'>
                                        <table class="table600con" style='border-collapse: collapse;' width="600"
                                            cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" style='height: 50px;line-height: 0px;'></td>
                                                </tr>
                                                <tr>
                                                    <td class="spacer x_spacer"
                                                        style='border-collapse: collapse; width:30px;' width="30px">
                                                        &nbsp;</td>
                                                    <td class="logo"
                                                        style='border-collapse: collapse; width:540px; text-align: center;'
                                                        width="540px">


                                                        <img src="http://13.235.236.166/HTML/cruise-html/assets/images/logo.png"
                                                            alt="logo"
                                                            style="width:150px;border-spacing: 0px;margin: 0 auto;" />
                                                    </td>
                                                    <td class="spacer x_spacer"
                                                        style='border-collapse: collapse; width:30px;' width="30px">
                                                        &nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style='height: 30px;line-height: 0px;'></td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <table class="table600con" style='border-collapse: collapse;' width="600"
                                            cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" style="height: 40px; line-height: 0px;"></td>
                                                </tr>

                                                <tr>
                                                    <td class="spacer x_spacer"
                                                        style='border-collapse: collapse; width:30px;' width="30px">
                                                        &nbsp;</td>
                                                    <td class="txt-heading"
                                                        style="font-family: 'Work Sans', Arial, sans-serif; text-align: center; border-collapse: collapse; width:540px;font-size:32px; line-height: 52px; color: #464646;font-weight: 600;"
                                                        width="540px">
                                                        Hello ! A new inquiry has been received for following order!!
                                                    </td>
                                                    <td class="spacer x_spacer"
                                                        style='border-collapse: collapse; width:30px;' width="30px">
                                                        &nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style='height: 40px;line-height: 0px;'></td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- banner main section  -->

                    <table style="padding: 10;margin: 0 0 0 0;border-collapse: collapse;" class="table600full"
                        width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td class="full_width" style="background: #ffffff; border-collapse: collapse; "
                                    width="100%">
                                    <div class="wrapper" style='width: 600px;margin:0 auto 0 auto;'>

                                        <table border="2" class="table600con" style='border-collapse: collapse;'
                                            width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" valign="top"
                                                        style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>User details</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>Name</h3>
                                                    </td>
                                                    <td valign="top" style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{name}}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>Email</h3>
                                                    </td>
                                                    <td valign="top" style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{email}}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>Phone No.</h3>
                                                    </td>
                                                    <td valign="top" style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{mobile}}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"
                                                        style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3> Bike Maker </h3>
                                                    </td>
                                                    <td valign="top"
                                                        style="line-height: 0px;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{bike_maker}}</h3>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td valign="top"
                                                        style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3> Bike Model </h3>
                                                    </td>
                                                    <td valign="top"
                                                        style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{bike_model}}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"
                                                        style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>Year</h3>
                                                    </td>
                                                    <td valign="top"
                                                        style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{ year }}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>Full Address</h3>
                                                    </td>
                                                    <td valign="top" style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{ address_line1 }} {{address_line2}} {{address_city}}
                                                            {{address_country}} {{address_zip}}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"
                                                        style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>Inquiry date</h3>
                                                    </td>
                                                    <td valign="top"
                                                        style="line-height: auto;border-spacing: 0px; width: 200px; text-align: center;">
                                                        <h3>{{ date }}</h3>
                                                    </td>
                                                </tr>
                                                




                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>








                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>