{% extends 'core/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "core/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "core/partials/ibox_title.html" with ibox_title="Login Credentials" icon_class="fas fa-sign-in-alt" only %}

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    {% if object.pk %}
                    <div class="col-sm-12">
                        {{ form.password|as_crispy_field }}
                    </div>
                    {% else %}
                    <div class="col-sm-6">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                    {% endif %}
                </div>

            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox --> 

        <div class="ibox float-e-margins">

            {% include "core/partials/ibox_title.html" with ibox_title="Personal Info" icon_class="fas fa-user" only %}

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.company|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.mobile|as_crispy_field }}
                    </div>
                </div>
 

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.bio|as_crispy_field }}
                    </div>
                 
                    <div class="col-sm-6">
                        {{ form.avatar|as_crispy_field }}
                    </div>
                </div>

                

                
            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox -->

        <div class="ibox float-e-margins">

            {% include "core/partials/ibox_title.html" with ibox_title="Permissions" icon_class="fas fa-key" only %}

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-4">
                        {% input_icheck form.is_active %}
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="col-sm-4">
                        {% input_icheck form.is_staff %}
                    </div>
                    <div class="col-sm-4">
                        {% input_icheck form.is_superuser %}
                    </div>
                    {% endif%}
                </div>

                <hr/>

                {{ form.groups|attr:"class:groups-select"|attr:"size:10"|as_crispy_field }}

                <hr/>

                {% if request.user.is_superuser %}

                {{ form.user_permissions|attr:"class:permissions-select"|attr:"size:10"|as_crispy_field }}

                {% endif%}

            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox -->

        {% include "core/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'core/js/userroles.js' %}"></script>

<script>
    $(function() {
        userroles.users.details();
    });
</script>
{% endblock %}