{% load static %}
<tr class="mt-3" style="background-color: #ffb476; color: white;>
    <td>
        <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
                <td class="content-cell" align="center">
            <div class="footer-inner">
                <div class="container">
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div style="display: inline-block;">
                            
                                            <a href="#"><img src="http://13.235.236.166/HTML/er-email-template-sample/images/icon-facebook.png" alt="logo"></a>
                                    
                                            <a href="#"><img src="http://13.235.236.166/HTML/er-email-template-sample/images/icon-linkdin.png" alt="logo"></a>
                                       
                                            <a href="#"><img src="http://13.235.236.166/HTML/er-email-template-sample/images/icon-twitter.png" alt="logo"></a>
            
                                </div>
                                <div class="col-lg-6 col-md-7">
                                    <div class="footer-content">
                                        <address>
                                            <strong>Innerly, Inc.</strong><br>
                                            7 Temasek Boulevard, #12-07 Suntec Tower<br>
                                            Singapore 038987<br>
                                            <abbr title="Phone" style="text-decoration: none">P:</abbr> +65 9138 8526
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <hr>
                    <div class="copy-right-text">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <p>© Cruise 2020</p>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
