{% load static %}
<tr class="mt-3" style="background-color: #ffb476; color: white;">
    <td class="header">
        <div class="header_container">
            <a href="{% url 'core:index' %}">
                <div class="logo-div">
                    <span class="logo_link clearfix" href="{% url 'core:index' %}">
                        <img src="http://13.235.236.166/HTML/inrelay-html/assets/images/Logo.png" class="img-fluid logo_img main-logo"
                            alt="logo" width="150" />
                    </span>
                </div>
                <div class="site_title">
                    
                </div>
            </a>
        </div>
    </td>
</tr>