{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="" />
<meta name="author" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>ESM Engineers Information</title>
<meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport' />
<meta name="theme-color" content="#1F9CDE">
<meta name="msapplication-navbutton-color" content="#1F9CDE">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#1F9CDE">

<link href="{% static 'frontend/images/favicon.png' %}" rel='shortcut icon' >


<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link href="{% static 'frontend/css/style.css' %}" media="all" rel="stylesheet" type="text/css" >
<link href="{% static 'frontend/css/dataTables.bootstrap4.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<script src="{% static 'frontend/js/modernizr.js' %}"></script>


</head>
<body>

    {% block content %}
    
    
    
    {% endblock %}



<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend/js/popper.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

<script src="{% static 'frontend/js/select2.full.js' %}"></script>
<script src="{% static 'frontend/js/select2-get.js' %}"></script>


<script src="{% static 'frontend/js/datatables.min.js' %}"></script>
<script src="{% static 'frontend/js/datatables-get.js' %}"></script>
<script src="{% static 'frontend/js/search-box.js' %}"></script>


<script src="{% static 'frontend/js/password.js' %}"></script>
<script src="{% static 'frontend/js/custom.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<script src="{% static 'frontend/js/change-password.js' %}"></script>


</body>
</html>

