{% extends "frontend/base_index.html" %}
{% load static %}

{% block content %}





<div id="wrapper" class="wrapper home-wrapper">

    <header>
        <div class="header-div clearfix" >
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">

                                <div class="logo-div">
                                    <a class="logo_link" href="{% url 'app:sign-in' %}">
                                        <img src="{% static 'frontend/images/logo.svg' %}" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>

                                <nav class="nav-center-div display-none">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="{% static 'frontend/images/icons/menu-white' %}" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res" >
                                            <li><a href="#" class="nav-link">All projects</a></li>
                                            <li><a href="#" class="nav-link">User listing</a></li>
                                            <li><a href="#" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>	
        </div><!--  End of header with navigation div  -->
    </header>
	    
    <div class="main-middle-area">

        <div align="center">
            
            {% for k, message in form.errors.items %}

            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <b>    {{ message }}
                </b>
            </div>
            {% endfor %}
           
    </div>


        <section class="general-single-forms-section">
            <div class="general-single-forms-div">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-12 col-md-12">        
    
                            <div class="height-100">

                                <div class="center-general-form-div">
                                    

                                       <p>
                                           
                                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                    You should receive them shortly.
                                    If you don't receive an email, please make sure you've entered the address you registered with,
                                    and check your spam folder.
                                       </p>


                                    </div>

                                    

                                    
                                </div>

                                <div style="width: 400px;float: right; margin-right: 400px;" >

                                    
                                <a href="{% url 'app:sign-in' %}" class="btn btn-primary btn-block btn-forgot-pass">Home

                                </a>
                                </div>

    
                            </div>
    
                        </div>  
    
                        
                    </div>        
                </div>
            </div>
        </section>

    </div>
	
</div><!-- end of wrapper -->


{% endblock %}