{% extends "frontend/base_index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div id="wrapper" class="wrapper home-wrapper">
    <header>
        <div class="header-div clearfix">
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">
                                <div class="logo-div">
                                    <a class="logo_link" href="{% url 'app:project-list' %}">
                                        <img src="{% static 'frontend/images/logo.svg' %}"
                                            class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>
                                <nav class="nav-center-div">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav"
                                                data-placement="bottom" title="" data-original-title="Menu">
                                                <i class="menu-bars"><img src="{% static 'frontend/images/icons/menu-white.svg' %}"
                                                        alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav">
                                            <a href="javascript:void(0)" class="closebtn"
                                                onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res">
                                                <li><a href="{% url 'app:project-list' %}" class="nav-link">All projects</a></li>
                                                <li><a href="{% url 'app:project-list' %}" class="nav-link">Admin Users</a></li>
                                                <li><a href="{% url 'app:activityuser-list' %}" class="nav-link">User listing</a></li>
                                                <li><a href="{% url 'app:logout' %}" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  End of header with navigation div  -->
    </header>
    <div class="main-middle-area">
        <div class="page-back-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="title-div back-div">
                            <div class="back-link-div"><a onclick="goBack()" class="link-back"> <span
                                        class="material-icons"> arrow_back </span> Back</a></div>
                            <h2>Add new activity</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" action="{% url 'app:activity-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="white-card-main-div">
                <div class="container">
                    <div class="white-card-root">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-div">
                                    <div class="row mlr-15">
                                        <div class="col-lg-6 col-md-12 plr-15"> 
                                            <input type="hidden" value="{{ project_obj }}" name="project_id">
                                            <div class="form-group">
                                                <label for="">Activity name</label>
                                                {{ form.title }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 plr-15">
                                            <div class="form-group">
                                                <label for="">Sharing option</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="hidden" value="public" name="status" id="get_status">
                                                    <input type="checkbox" class="custom-control-input" id="switch1">
                                                    <label class="custom-control-label" for="switch1"> <span
                                                            class="text-span"> Click here to public activity</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 plr-15">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                {{ form.discription }}
                                            </div>
                                            <div class="upload-section-div photos-upload-div">
                                                <div class="row mlr-10">
                                                    <div class="col-lg-12 col-md-12 plr-10">
                                                        <h4>Photos</h4>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10 ">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box clearfix">
                                                                <a href="#" class="btn btn-round-link change-cover-btn">
                                                                    <label id="#bb">
                                                                        <div class="text-div">
                                                                            <span class="material-icons upload-i">
                                                                                publish </span>
                                                                            <p>Upload file</p>
                                                                            <input type="file" id="" size="60" name="photos"
                                                                                multiple accept="image/x-png,image/gif,image/jpeg" >
                                                                        </div>
                                                                    </label>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10 d-none">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box image-update-box clearfix">
                                                                <div class="image-box">
                                                                    <div class="top-right-action">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="img-thumb">
                                                                        <img src="assets/images/banner2.jpg"
                                                                            class="img-fluid img-responsive"
                                                                            alt="img" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10 d-none">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box image-update-box clearfix">
                                                                <div class="image-box">
                                                                    <div class="top-right-action">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="img-thumb">
                                                                        <img src="assets/images/banner1.jpg"
                                                                            class="img-fluid img-responsive"
                                                                            alt="img" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="upload-section-div videos-upload-div">
                                                <div class="row mlr-10">
                                                    <div class="col-lg-12 col-md-12 plr-10">
                                                        <h4>Video</h4>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box clearfix">
                                                                <a href="#" class="btn btn-round-link change-cover-btn">
                                                                    <label id="#bb">
                                                                        <div class="text-div">
                                                                            <span class="material-icons upload-i">
                                                                                publish </span>
                                                                            <p>Upload file</p>
                                                                        </div>
                                                                        <input type="file" id="File" size="60" name="video" multiple accept="video/mp4,video/x-m4v,video/*">
                                                                    </label>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10 d-none">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box image-update-box clearfix">
                                                                <div class="image-box">
                                                                    <div class="top-right-action">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="center-play-video-popup">
                                                                        <button class="btn btn-transparent btn-video">
                                                                            <span class="material-icons custom-icon">
                                                                                play_circle_filled </span> </button>
                                                                    </div>
                                                                    <div class="img-thumb">
                                                                        <img src="assets/images/banner1.jpg"
                                                                            class="img-fluid img-responsive"
                                                                            alt="img" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10 d-none">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box image-update-box clearfix">
                                                                <div class="image-box">
                                                                    <div class="top-right-action">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="center-play-video-popup">
                                                                        <button class="btn btn-transparent btn-video">
                                                                            <span class="material-icons custom-icon">
                                                                                play_circle_filled </span> </button>
                                                                    </div>
                                                                    <div class="img-thumb">
                                                                        <img src="assets/images/banner1.jpg"
                                                                            class="img-fluid img-responsive"
                                                                            alt="img" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="upload-section-div document-upload-div">
                                                <div class="row mlr-10">
                                                    <div class="col-lg-12 col-md-12 plr-10">
                                                        <h4>Document</h4>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 plr-10">
                                                        <div class="upload-box-div">
                                                            <div class="add-image-input-box clearfix">
                                                                <a href="#" class="btn btn-round-link change-cover-btn">
                                                                    <label id="#bb">
                                                                        <div class="text-div">
                                                                            <span class="material-icons upload-i">
                                                                                publish </span>
                                                                            <p>Upload file</p>
                                                                        </div>
                                                                        <input type="file" id="File" size="60" name="docuemnts" multiple  accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf" >
                                                                    </label>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 plr-10">
                                                        <div class="file-upload-root">
                                                           
                                                            <div class="file-upload-list-div d-none">
                                                                <div class="file-upload-col-div">
                                                                    <div class="left-text-file">
                                                                        <h3>Nelson Mandelaa.pdf</h3>
                                                                    </div>
                                                                    <div class="right-text-file">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="file-upload-col-div">
                                                                    <div class="left-text-file">
                                                                        <h3>Nelson Mandelaa.doc</h3>
                                                                    </div>
                                                                    <div class="right-text-file">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="file-upload-col-div">
                                                                    <div class="left-text-file">
                                                                        <h3>Nelson Mandelaa.word</h3>
                                                                    </div>
                                                                    <div class="right-text-file">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="file-upload-col-div">
                                                                    <div class="left-text-file">
                                                                        <h3>Nelson Mandelaa.ppt</h3>
                                                                    </div>
                                                                    <div class="right-text-file">
                                                                        <button class="btn btn-action btn-delete"> <i
                                                                                class="fe fe-trash-2 custom-icon"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 plr-15">
                                            <div class="add-new-user-root">
                                                <div class="btn-row">
                                                    <span class="btn btn-blue btn-add-new-user disabled"
                                                        data-toggle="modal" data-target="#add-new-user-modal">+Add New
                                                        User</span>
                                                </div>
                                                <div class="add-new-user-list-div d-none" id="remove_public">
                                                    {% for ob in user %}
                                                    <div class="add-new-user-col-div">
                                                        <div class="left-text-file">
                                                            <h3>{{ ob.name }}</h3>
                                                        </div>
                                                        <div class="center-text-file">
                                                            <p>{{ ob.mobile }}</p>
                                                        </div>
                                                        <div class="right-text-file">
                                                            <span class="btn btn-action btn-edit mr-10"> <i
                                                                    class="fe fe-edit custom-icon editProjectButton"
                                                                    data-id={{ ob.id }}></i> </span>
                                                            <span class="btn btn-action btn-delete"> <i
                                                                    class="fe fe-trash-2 custom-icon"
                                                                    id="delete_item_confirmations"
                                                                    data-id="{{ ob.id }}"></i> </span>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white-card-root-footer">
                        <div class="row mlr-15">
                            <div class="col-lg-12 col-md-12 plr-15">
                                <div class="footer-submit-button-group">
                                    <div class="footer-row">
                                        <button type="button"
                                            class="btn btn-primary-outline btn-cancel min-width-110 mr-10"
                                            data-dismiss="modal" onclick="goBack()">Cancel</button>
                                        <button type="submit" class="btn btn-primary btn-add min-width-130">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div><!-- end of wrapper -->
</form>
<!-- The Modal -->
<div class="modal modal-xl-size fade" id="video-player-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-close">
                <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
            </div>
            <div class="modal-body modal-body-custom">
                <div class="common-center-div common-video-div">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="video-box">
                                <video class="full-video" width="400" controls>
                                    <source src="assets/images/video/demo-video.mp4" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-xl-size fade" id="image-view-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-close">
                <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
            </div>
            <div class="modal-body modal-body-custom">
                <div class="common-center-div common-image-div">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="image-box">
                                <img src="assets/images/banner2.jpg" class="img-fluid img-responsive" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user activity -->
<form method="post" action="{% url 'app:activityuser-create' %}" id="AddUserActvity">
    {% csrf_token %}
    <div class="modal modal-custom fade" id="add-new-user-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New User</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
                </div>
                <div id="msg"></div>
                <div class="modal-body">
                    <div class="form-div form-custom-root">
                        <div class="form-group form-group-custom">
                            <label for="">User name</label>
                            {{ activity_user.name }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Activity</label>
                            {{ activity_user.activity }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Mobile number</label>
                            <div class="max-input-div">
                                <div class="selectbox-inline">
                                    <div class="select-box select-custom2">
                                        <select class="js-select2" name="country_code">
                                            <option>+91</option>
                                            <option>+09</option>
                                            <option>+10</option>
                                        </select>
                                    </div>
                                </div>
                                {{ activity_user.mobile }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-outline btn-cancel min-width-110 mr-10"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-add min-width-130">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- eDIT -->
<div class="modal modal-custom fade" id="edit-new-ACTIVITYUSER-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit New User</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
            </div>
            <form method="post" action="{% url 'app:activityuser-list' %}" id="UserActivityEditForm">
                {% csrf_token %}
                <input type="hidden" id="get_active_user_id" name="get_active_user_id" />
                <div id="msg"></div>
                <div class="modal-body" id="EditModalBody">
                    <div class="form-div form-custom-root">
                        <div class="form-group form-group-custom">
                            <label for="">User name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Activity</label>
                            {{ form.activity }}
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="">Mobile number</label>
                            <div class="max-input-div">
                                <div class="selectbox-inline">
                                    <div class="select-box select-custom2">
                                        <select class="js-select2 ">
                                            <option>+91</option>
                                            <option>+09</option>
                                            <option>+10</option>
                                        </select>
                                    </div>
                                </div>
                                {{ form.mobile }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-outline btn-cancel min-width-110 mr-10"
                        data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-add min-width-130">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="success_modal_pucrchase" role="dialog" style="display: none;">
    <div class="modal-dialog" style="margin-top: 260.5px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body modal-custom">
                <div class="container store-select">
                    <label>
                        <h3>Do you really want to delete this item ?</h2>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="delete_item" style="margin-right: 400px;" width="50px;">Yes</button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script>

$('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

    $(document).on("click", "#switch1", function (event) {
        get_val = $('#switch1').prop('checked');
        if (get_val === true) {
            $("#remove_public").removeClass("d-none");
            $("#get_status").val('privte');
        }
        else {
            $("#remove_public").addClass("d-none");
            $("#get_status").val('public');
        }
    })
   
    // User edit & delete
    $(document).ready(function () {
        $(document).on("click", ".editProjectButton", function () {
            let get_id = $(this).attr('data-id');
            $("#get_active_user_id").val(get_id);
            $.ajax({
                url: "{% url 'app:activityuser-list' %}",
                data: {
                    get_id: get_id,
                },
                method: 'GET',
                success: function (data) {
                    $('#EditModalBody').empty();
                    $('#EditModalBody').append(data);
                    $('#edit-new-ACTIVITYUSER-modal').modal('show');
                },
                error: function (err) {
                    console.log(err)
                }
            });
        });
    });
   
    // submit
    $('#UserActivityEditForm').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'updated') {
                    $('#msg').append(
                        '<div class="alert alert-success">'
                        + '<strong>Project Updated!</strong>'
                        + '</div>'
                    );
                    setTimeout(function () {
                        location.reload();
                    }, 20);
                    setTimeout(function () {
                        $('#edit-new-project-modal').modal('hide');
                    }, 5000);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });
   
    // Delete
    $(document).on("click", "#delete_item_confirmations", function (event) {
        let get_id = $(this).attr('data-id');
        $('#success_modal_pucrchase').modal('show');
        $('#delete_item').on('click', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'app:activityuser-delete' %}",
                data: {
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    "get_id": get_id,
                },
                success: function (response) {
                    if (response['status'] === 'updated') {
                        $('#msg').append(
                            '<div class="alert alert-success">'
                            + '<strong>Activity user Updated!</strong>'
                            + '</div>'
                        );
                        setTimeout(function () {
                            location.reload();
                        }, 20);
                        setTimeout(function () {
                            $('#success_modal_pucrchasel').modal('hide');
                        }, 2000);
                    }
                },
            });
        })
    });
   
    $('#AddUserActvity').on('submit', function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        $('#msg').html('');
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response['status'] === 'Created') {
                    $('#msg').append(
                        '<div class="alert alert-success">'
                        + '<strong>User created!</strong>'
                        + '</div>'
                    );
                    setTimeout(function () {
                        $('#add-new-user-modal').modal('hide');
                    },3000);
                    setTimeout(function () {
                        location.reload();
                    }, 200);
                }
            },
            error: function (err) {
                console.log(err);
                const errors = err.responseJSON.errors;
                Object.keys(errors).forEach(key => {
                    let currentKeyErrors = errors[key].map(err => `${key}: ${err}`);
                    $('#msg').append(
                        '<div class="alert alert-danger">'
                        + '<strong>Error! </strong>' + currentKeyErrors
                        + '</div>'
                    );
                });
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(4000, 0).slideUp(200, function () {
                $(this).remove();
            });
        });
    }, 5000);
</script>

<script>
    function goBack() {
      window.history.back();
    }
    </script>

    
{% endblock %}