{% extends "frontend/base_index.html" %}
{% load static %}

{% block content %}



<div id="wrapper" class="wrapper home-wrapper">

    <header>
        <div class="header-div clearfix" >
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">

                                <div class="logo-div">
                                    <a class="logo_link" href="all-projects.html">
                                        <img src="assets/images/logo.svg" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>

                                <nav class="nav-center-div display-none">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="assets/images/icons/menu-white.svg" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res" >
                                            <li><a href="#" class="nav-link">All projects</a></li>
                                            <li><a href="#" class="nav-link">User listing</a></li>
                                            <li><a href="#" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>	
        </div><!--  End of header with navigation div  -->
    </header>
	    
    <div class="main-middle-area">

        <section class="general-single-forms-section">
            <div class="general-single-forms-div">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-12 col-md-12">        
    
                            <div class="height-100">

                                <div class="center-general-form-div">
                                    <div class="heading-div">
                                        <h1>Create a new password</h1>
                                    </div>
                                    <div class="login-form-div create-new-password-form-div">
                                        <div class="form-input-group form-div">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group password-box">
                                                        <input type="password" class="form-control" name="New password" id="change-password-c1" placeholder="New password">
                                                        <button type="button" id="change_show_password-c1" name="show_password" class="pass-hide password-view-click">
                                                            <span class="material-icons password-view">visibility_off</span>
                                                        </button> 
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group password-box">
                                                        <input type="password" class="form-control" name="re-enter password" id="change-password-c2" placeholder="Reenter password">
                                                        <button type="button" id="change_show_password-c2" name="show_password" class="pass-hide password-view-click">
                                                            <span class="material-icons password-view">visibility_off</span>
                                                        </button> 
                                                    </div>
                                                </div>
                                                
                                            </div> 
                                        </div>

                                        <div class="form-button-group">
                                            <div class="forgot-div">
                                                <p>Have an account <a href="sign-in.html" class="btn-link">Sign in.</a></p>
                                            </div>
                                            <div class="submit-div">
                                                <button class="btn btn-primary btn-block btn-forgot-pass">Submit</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
    
                            </div>
    
                        </div>  
    
                        
                    </div>        
                </div>
            </div>
        </section>

    </div>
	
</div><!-- end of wrapper -->

{% endblock %}