<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="" />
<meta name="author" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Forgot password | ESM Engineers Information</title>
<meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport' />
<meta name="theme-color" content="#1F9CDE">
<meta name="msapplication-navbutton-color" content="#1F9CDE">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#1F9CDE">
<link href='assets/images/favicon.png' rel='shortcut icon'>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="assets/css/style.css" media="all" rel="stylesheet" type="text/css" />
<script src="assets/js/modernizr.js"></script>
<!--[if IE]>
<script src="assets/js/html5.js"></script>
<![endif]-->

</head>

<body>

<div id="wrapper" class="wrapper home-wrapper">

    <header>
        <div class="header-div clearfix" >
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">

                                <div class="logo-div">
                                    <a class="logo_link" href="all-projects.html">
                                        <img src="{% static 'frontend/images/logo.svg' %}" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>

                                <nav class="nav-center-div display-none">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="assets/images/icons/menu-white.svg" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res" >
                                            <li><a href="#" class="nav-link">All projects</a></li>
                                            <li><a href="#" class="nav-link">User listing</a></li>
                                            <li><a href="#" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>	
        </div><!--  End of header with navigation div  -->
    </header>
	    
    <div class="main-middle-area">

        <section class="general-single-forms-section">
            <div class="general-single-forms-div">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-12 col-md-12">        
    
                            <div class="height-100">

                                <div class="center-general-form-div">
                                    <div class="heading-div">
                                        <h1>Forgot password</h1>
                                    </div>
                                    <div class="login-form-div forgot-password-form-div">
                                        <div class="form-input-group form-div">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" placeholder="Enter registered Email ID">
                                                    </div>
                                                </div>
                                               
                                            </div> 
                                        </div>

                                        <div class="form-button-group">
                                            <div class="forgot-div">
                                                <p>Have an account <a href="sign-in.html" class="btn-link">Sign in.</a></p>
                                            </div>
                                            <div class="submit-div">
                                                <a href="create-new-passoword.html"><button class="btn btn-primary btn-block btn-forgot-pass">Send link</button></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
    
                            </div>
    
                        </div>  
    
                        
                    </div>        
                </div>
            </div>
        </section>

    </div>
    
    


</div><!-- end of wrapper -->

{% endblock %}