{% extends "frontend/base_index.html" %}
{% load static %}

{% block content %}


<div align="center">
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b>{{msg.message}}</b>
    </div>
    {% endfor %}
    {% endif %}


<div id="wrapper" class="wrapper home-wrapper">

    <header>
        <div class="header-div clearfix" >
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">

                                <div class="logo-div">
                                    <a class="logo_link" href="{% url 'app:sign-in' %}">
                                        <img src="{% static 'frontend/images/logo.svg' %}" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>

                                <nav class="nav-center-div display-none">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="{% static 'frontend/images/icons/menu-white' %}" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res" >
                                            <li><a href="#" class="nav-link">All projects</a></li>
                                            <li><a href="#" class="nav-link">User listing</a></li>
                                            <li><a href="#" class="nav-link">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>	
        </div><!--  End of header with navigation div  -->
    </header>
	    
    <div class="main-middle-area">

        <div align="center">
            
            {% for k, message in form.errors.items %}

            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <b>    {{ message }}
                </b>
            </div>
            {% endfor %}
           
    </div>


        <section class="general-single-forms-section">
            <div class="general-single-forms-div">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-12 col-md-12">        
    
                            <div class="height-100">

                                <div class="center-general-form-div">
                                    <div class="heading-div">
                                        <h1>Forgot password</h1>
                                    </div>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}


                                    <div class="login-form-div forgot-password-form-div">
                                        <div class="form-input-group form-div">
                                            <div class="row">


                                                <div class="col-md-12">
                                                   
                                                    <div class="form-group">
                                                       

                                                        <input type="email" class="form-control" placeholder="Enter registered Email ID" name="email">
                                                    </div>


                                                </div>
                                               
                                            </div> 
                                            <div class="form-button-group">
                                            
                                                <div class="submit-div">
                                                    <button type="submit" class="btn btn-primary btn-block btn-forgot-pass">Send link</button>
                                                </div>
    
                                                <div class="forgot-div" style="margin: 10px;">
                                                    <p>Have an account <a href="{% url 'app:sign-in' %}" class="btn-link">Sign in.</a></p>
                                                </div>
                                            </div>
                                        </div>

                                      

                                    </div>
                                </div>
                            </form>
    
                            </div>
    
                        </div>  
    
                        
                    </div>        
                </div>
            </div>
        </section>

    </div>
	
</div><!-- end of wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(4000, 0).slideUp(200, function () {
                $(this).remove();
            });
        });
    }, 5000);
</script>

{% endblock %}