{% extends 'core/base_section.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block title %}
    {{ opts.verbose_name_plural|capfirst }}
{% endblock%}


{% block page_header %}
    {{ opts.verbose_name_plural|capfirst }}
{% endblock%}


{% block current_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'core:index' %}">{% trans 'Home' %}</a>
</li>
<li class="breadcrumb-item active">
    {{ opts.verbose_name_plural|capfirst }}
</li>
{% endblock%}


{% block page_content %}
    Changelist content goes here.
{% endblock %}