{% extends 'core/base.html' %}

{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}

{% load admin_extras %}

{% block title %}Dashboard{% endblock%}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% now "Y" as year_arg %}
{% now "M" as month_arg %}
{% now "d" as day_arg %}



<header class="list-header card mb-4">
  <div class="card-body clearfix">
    <div class="float-left">
      <h5 class="card-title">Welcome to {{ PROJECT_TITLE }} {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user }}{% endif %}!</h5>
      <p class="lead">{{ PROJECT_TITLE }} is a lorem ipsum dolar sit amet...</p>
    </div>
      
    
    
    
  </div>
</header>

<div class="jumbotron">
  <h1>Welcome to {{ PROJECT_TITLE }}
    {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user }}{% endif %}!</h1>
  <p class="lead">{{ PROJECT_TITLE }} is a lorem ipsum dolar sit amet...</p>
  <hr class="my-4">
    <p>To get started, select an option from the buttons below, or menu:</p>
  <div class="lead">
    <a class="btn btn-primary btn-lg" href="" role="button">Button 1</a> <a
      class="btn btn-primary btn-lg"
      href="" role="button">Button 2</a>
  </div>  
</div>

 
 
{% comment %} <div class="row">

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-success float-right">Annnual</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">40,886,200</h1>
        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
        <small>Total income</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-info float-right">Monthly</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">275,800</h1>
        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
        <small>New orders</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-primary float-right">Today</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">106,120</h1>
        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
        <small>New visits</small>
      </div>
    </div>
  </div>

</div> {% endcomment %}
<!-- /row -->


<div class="row">

  {% if perms.users or perms.auth %}
  {% comment %} <div class="col-lg-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <!-- <span class="label label-primary pull-right">Today</span> -->
        <h5><i class="fa fa-users"></i> Users & Groups</h5>
      </div>
      <div class="ibox-content no-padding">
        <ul class="list-group">
          <li class="list-group-item"><a href="{% url 'core:user-list' %}">Users</a></li>
          <li class="list-group-item"><a href="{% url 'core:group-list' %}">Groups</a></li>
        </ul>
      </div>
    </div>
  </div> {% endcomment %}
  {% endif %}

</div>
{% endblock %}