.custom-nav-pills li {
    padding: 0;
    width: 100%;
    position: relative;
}

.custom-nav-pills.nav-pills .nav-link {
    position: relative;
    padding: 5px 15px;
    margin: 0;
    border: 1px solid #1F9CDE;
    background-color: transparent;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.8s;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #1F9CDE;
    letter-spacing: 1.25px;
    text-align: center;
    line-height: 16px;
    text-transform: capitalize;
    box-shadow: none;
    outline: none;
}

.custom-nav-pills.nav-pills .nav-link.active {
    border: 1px solid #1F9CDE;
    background-color: #1F9CDE;
    color: #fff;
}