.page-back-tabs-top {
  .tab-connection-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
  }
}

.tab-action-header-div {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;

  .title-div {
    h1 {
      padding: 4px 0;
      margin: 0 0 0px 0;
      font-size: 20px;
      color: #3f3f3f;
      letter-spacing: -0.15px;
      line-height: 32px;
      font-weight: 600;
    }
  }

  .action-btn-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;

    .button-div {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    .btn.btn-action {
      padding: 2px 15px;
      font-size: 18px;

      span.text-span {
        font-size: 18px;
        margin: 0 0 0 5px;
      }

      .fe.fe-trash-2 {
        font-size: 20px;
        display: inline-block;
        position: relative;
        bottom: -1px;
      }

      &.mr-6 {
        margin-right: 6px;
      }
    }
  }
}

.white-tabs-card-main-div {
  .white-card-root {
    padding: 0;
  }

  .tab-container-root {
    .tab-container-header {
      padding: 25px 25px 15px 25px;
      border-bottom: 1px solid #ededed;

      .nav-tabs {
        border: none;

        li.nav-item {
          margin: 0 10px 10px 0;

          .nav-link {
            padding: 5px 25px;
            margin: 0;
            border: 1px solid #e0e4e2;
            display: flex;
            color: #222;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            border-radius: 4px;
            transition: all 0.8s;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            letter-spacing: 1.25px;
            text-align: center;
            line-height: 16px;
            min-height: 46px;
            text-transform: capitalize;
            background-color: transparent;
            box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
            min-width: 90px;

            &:hover {
              border: 1px solid #1f9cde;
              background: #1f9cde;
              color: #fff;
            }

            &.active {
              border: 1px solid #1f9cde;
              background: #1f9cde;
              color: #fff;
            }
          }
        }
      }
    }

    .tab-container-inner {
      width: 100%;
      padding: 5px 10px;
    }
  }
}

@media (max-width: 767px) {
  .page-back-tabs-top {
    .tab-connection-right {
      .button-div {
        width: 100%;
        margin: 15px 0 0 0;

        .btn.btn-primary {
          width: 100%;
        }
      }
    }
  }

  .white-tabs-card-main-div {
    .tab-container-root {
      .tab-container-header {
        padding: 15px 15px 5px 15px;
        border-bottom: 1px solid #ededed;

        .nav-tabs {
          li.nav-item {
            .nav-link {
              padding: 5px 15px;
              font-size: 13px;
              letter-spacing: 1px;
              min-height: 40px;
              min-width: 70px;
            }
          }
        }
      }

      .tab-container-inner {
        width: 100%;
        padding: 5px 0;
      }
    }
  }

  .tab-action-header-div {
    margin: 0 0 25px 0;

    .title-div {
      margin: 0 0 10px 0;
    }

    .action-btn-right {
      .button-div {
        width: 100%;

        .btn.btn-action.btn-edit {
          width: calc(50% - 6px);
        }

        .btn.btn-action.btn-delete {
          width: calc(50% - 6px);
          margin-left: 6px;
        }
      }
    }
  }  
}
