{% extends 'core/emails/html/layout.html' %}
{% load static %}

{% block content %}
    Hello <strong>{{ user }}</strong> Your payment successfully received.<br>
    <br>
    Plan name: {{name}}<br>
    Payment amount: {{amount}}<br>
    Payment date: {{date}}<br>

{% endblock %}