<label for="{{ field.auto_id }}">
    {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
</label>
<input id="{{ field.auto_id }}" value="{{ field.value }}" type="hidden" name="{{ field.name }}">
<trix-editor input="{{ field.auto_id }}"></trix-editor>